.a{
    width: 100%;
    height: 300vh;
    margin: 0px;
    padding: 0px;
    top:0; 
    
}

.a-a{
    position: fixed;
    width: 100%;
    height: 90px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.87);
    margin: 0px;
    padding: 0px;
    top:0px;
    box-shadow: 0px 2px 1px 0px rgb(0, 0, 0);
    z-index: 999;
}

.a-img{
    width: 140px;
    height: 90px;
    top: 0px;
    bottom: 0px;
    margin: 0px;
    margin-left: 10%;
    padding: 0px;
    border-radius: 5px; 
}
.a-a1{ 
    width: 100%;
    height:fit-content ;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    margin-top: 3.6%;
}
.a-t{
   font-weight: 600;
    color: rgb(104, 104, 104);
    font-size: 12px;
    font-family: poppins;
    margin-right: 10px;
    text-align: right;
}

.a-ab{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0px;
    padding: 0px;
    padding-right: 5%;
}

.a-abp{
    margin: 0% 2%;
    margin-right: 0%;
    padding: 0%; 
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 500;
    font-family: poppins;
    cursor: pointer;
    color: rgb(104, 104, 104);
}


.a-abp:hover{
    color: rgb(48, 167, 232);
}

.a-main{
    position: relative;
    width: 100%;
    height: 85vh;
    margin-top: 90px; 
}

.a-coq{
    width: 100%;
    height: 120px;
    margin-top: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/navy.jpg');
}

.a-title{
    font-size: 40px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-family: Calibri;
     margin: 0px;
     margin-left: 2%;
     padding: 0px; 
}
.a-title1{
    font-size: 30px;
    font-weight: 400;
    color: rgb(255, 1, 1);
    font-family: Calibri;
    margin: 0px;
    margin-left: 2%;
    margin-top: 1%;
    padding: 0px;
}

.a-wrapper{
    width: 100%;
    height:75%;
    display: flex;
    flex-direction: column ;
}

.a-left{
    width:100%;
    position: relative;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.a-intro{
    width: 90%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.a-text{
    width: 100%;
    font-size: 20px;
    margin: 0px;
    color: rgb(40, 40, 40);
    font-family: calibri;
    align-items: center;
    justify-content: center;  
}

.a-right{
    width: 100%;
    height: 60%;
    position:relative;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.a-iri{
    width:30%;
    display: flex;
    justify-content: left;
    text-align: left;
}

.a-iri-text{
    width:100%;
    height:fit-content;
    font-weight: 700;
    font-size: 30px;
    font-family: Calibri;
    border-bottom: 5px solid rgb(48, 167, 232);
}

.a-iri2{
    width:30%;
    height:100%;
    margin:0px;
    padding:0px;
    font-size: 20px;
    color: rgb(40, 40, 40);
    font-family: calibri;
}
.a-iri3{
    width:30%;
    height:100%;
    margin:0px;
    padding:0px;
    font-size: 20px;
    color: rgb(40, 40, 40);
    font-family: calibri;
}






